<!doctype html>
<html>
    <head>

	<title> Daily Life </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="m.css">

    </head>
	<body>
		<h3 id = "am" > Tue 28\10\2014</h3>
		<p id = >Heeey :) It's me Marah :) Today was so hard , I went to school and then right after that I went to MEET , I like MEET , but the problem is that I went walking with my heavy bag . I was with Aseel Bataha , and we went to (AROMA) to eat sth , and then we walked more to the office . And now we are coding :) here is a photo of me coding :)</p>
		<img src="Snapchat--93417897235579517.jpg" width="550" height="350">
	</body>
</html>
